.body {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-weight: normal;
  color: #999;
}

.error {
  padding-top: 5em;
  font-size: 1.5em;
  text-align: center;
  color: red;
}
